@page
@model WebWarehouse.Pages.ProductsModel
@{
}

<p>
    <a class="btn btn-primary" href ="@Url.Page("Product",new {Id = 0})"> Add New Product</a>
</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var product in Model.Products)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
           
                    <p class="card-text">Количество: @product.Quantity</p>
                    <p class="card-text">Цена: @product.Price</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="@Url.Page("Product", new { id = product.Id })" class="btn btn-warning">Изменить</a>
                    <a href="javascript:void(0);" class="btn btn-danger" onclick="if (confirm('Are you sure you want to delete?')) { window.location.href = '@Url.Page("ProductDelete", new { id = product.Id })'; }">Удалить</a>
                </div>
            </div>
        </div>
    }
</div>

